<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
     <form action="/forgot" method="post">
        <div class="">
           <label for="">Email</label>
           <input type="email" name="email">
           <button type="submit" name="button">Reset Password</button>
        </div>
     </form>
  </body>
</html>
